{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/default.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
<!-- and it's easy to individually load additional languages -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/languages/go.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/languages/html.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
{% endblock %}

{% block main %}
<div class="hero">
  <h1 class="hero-title">BroForms: The Free and Open-Source Alternative to Formspree</h1>
  <p class="hero-subtitle">Collect form data without sacrificing your users' privacy or your wallet</p>
  <button class="hero-cta">Get Started for Free</button>
  &nbsp;
  <a class="secondary" href="#showcase">Get startd with this example</a>
</div>

<style>
.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 48vh;
  padding: 2rem;
  text-align: center;
}

.hero-title {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.hero-subtitle {
  font-size: 1.25rem;
  margin-bottom: 2rem;
}

.hero-cta {
  border: none;
  padding: 1rem 2rem;
  font-size: 1.25rem;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.hero-cta:hover {
}

</style>

<hr>

<div class="container">
  <div class="grid" id="showcase">
  <pre class="border">
  <strong>HTML</strong>
  <code class="language-html">
    &lt;form 
        action="https://broforms.com/forms/{ form_id }"
        method="POST"
    &gt;

      &lt;input 
          type="text"
          name="name" 
          placeholder="Enter your name"
        &gt;
      &lt;input 
          type="email" 
          name="email" 
          placeholder="Enter your email"
      &gt;
      &lt;button 
          type="submit"
      &gt;
        Submit
      &lt;/button>

    &lt;/form&gt;
  </code>
  </pre>
  <form class="border form">
    <p class="border">
    Note:
    This Data will be redirected to {form_id} at BroForms
    </p>
    <input type="text" name="name" placeholder="Enter your name">
    <input type="email" name="email" placeholder="Enter your email">
    <button type="submit">Submit</button>
  </form>
  </div>
  <p>
    BroForms is an open source forms application. It is developed by BroCode Tech Community and is
    open sourced on GitHub. You can find more information about it
    <a href="https://github.com/NotoriousArnav/BroForms">here</a>.
  </p>
</div>

<style>
div.showcase pre{
  height: 110%;
}
.border {
  border: 3px solid #fefafa;
  padding: 1rem;
  border-radius: 8px;
}
.form {
/*Vertically Center*/
  display: flex;
  flex-direction: column;
  justify-content: center;
}
</style>


{% endblock %}
